body {
    background: #fafafa;
    font-family:'Ubuntu',sans-serif;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)
}
.navbar .profile{
    border: 0;
    background-color: white;
    font-weight: bold;
}
.navbar .logout{
    color: #FF645A;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #FF645A;
}
.navbar .logout:hover{
    color:#FF645A;
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color:black;
    transition: all 0.3s;
    height: 845px;
    background-color: #f3f3f3;
}
#sidebar h3{
    padding:12px 30px 6px 40px;
    font-size: 30px;
    font-weight: bold;
}
#sidebar a{
    color: black;
}

#sidebar.active {
    margin-left: -250px
}

#sidebar .sidebar-header {
   color:#FF645A;
   background-color: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    padding: 10px;
    font-size: 15px;
    display: block;
    color: black;
}

#sidebar ul li a {
    padding: 15px 30px;
    font-size: 1.1em;
    display: block
}

#sidebar ul li a:hover {
    color: black;
    background:white;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background:#f3f3f3;
}

a[data-toggle="collapse"] {
    position: relative
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%)
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

ul.CTAs {
    padding: 250px 20px 0 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px
}

a.download,
a.download:hover {
    background: #318fb5;
    color: #fff
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s
}

.content-wrapper {
    padding: 15px
}

@media(maz-width:768px) {
    #sidebar {
        margin-left: -250px
    }

    #sidebar.active {
        margin-left: 0px
    }

    #sidebarCollapse span {
        display: none
    }
}


/* table  */

table .paid{
    background-color: #29975c;
    color: white;
}
table .pending{
    border: none;
    color: red;
    background-color: white;

}table .active{
    background-color: #3cc47c;
    color: white;
}
table .inactive{
    background-color: #e9b000;
    color: white;
}
button{
    border: 1px solid ;
    border-radius: 4px;

}


/* profile */

.profcrt{
    padding: 0 100px 0 70px;
}
.profedt{
    padding: 0 100px 0 70px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    border: none;
}
.card .d-flex{
    border: none;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
#mod{
    margin-left:635px;
    height: 360px;
    width: 55%;
}


/* edit-profile */
body{
    background: #f5f5f5;
    margin-top:20px;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24,28,33,0.1);
    background: rgba(0,0,0,0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0,0,0,0);
    background: #3B5998;
    color: #fff;
}

.btn-instagram {
    border-color: rgba(0,0,0,0);
    background: #000;
    color: #fff;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24,28,33,0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}
html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}
.account-settings-multiselect ~ .select2-container {
    width: 100% !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}
.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24,28,33,0.03) !important;
}


/* dashboard  */



.order-card {
    color: rgb(71, 140, 161);
}
.order-card:hover{
    background-color: #FF645A;
    color: white;
}


.order-card {
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    margin-top: 80px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all .5s ease;
}
.order-card:hover{
    transform: scale(1.05);
}

.order-card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
.card i{
    font-size: 44px;
}
.card span{
    font-size: 40px;
}
