{% extends 'master1.html' %}
{% load static %}
{% block content %}



<div class="container">
    <div class="row aboutus">
        <div class="col-lg-6">
            <img src="{% static 'image/abt1.jpg' %}" class="img-fluid" alt="...">

        </div>
        <div class="col-lg-6">
            <h4>About Us</h4>
            <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore tempora reiciendis, rerum, culpa perferendis exercitationem molestiae repellat totam consequatur, non saepe incidunt modi est. Sed doloribus deserunt placeat delectus rem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis dolores enim in nam aliquid provident. Nesciunt molestias architecto magnam quasi ut, et porro consequatur debitis laudantium aliquam at. Accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, facilis autem nisi earum nesciunt nam amet veniam sint cupiditate dolor laboriosam ratione aspernatur vitae id iusto quam. Sint, deleniti consequuntur.</p>
        </div>
    </div>
</div>

{% endblock %}