{% extends 'master1.html' %}
{% load static %}
{% block content %}


<div class="jumbotron jumbotron-fluid event-jumbo">
    <div class="container">
        <h2>Register your event teams here !</h2>
        <button type="button" class="btn btn-danger eve-regn">Register here</button><button type="button"
            class="btn btn-danger eve-log">Already registerd? Login now</button>
    </div>
</div>

<div class="row pb-5 ">
    <div class="col-lg-5 pl-0 pr-0 eve-cont bg-white eve-register mx-auto">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card border-0">
                <div class="card-body bg-white">
                    <form action="" id="everegform">
                        <div class="row gutters">
                            <div class="col-lg-12 col-md-12 col-12">
                                <h6 class="mb-2 text-danger">Registration Details</h6>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Event Name</label>
                                    <input type="text" class="form-control" name="eventname"
                                        placeholder="Enter full name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Owner Name</label>
                                    <input type="text" class="form-control" name="ownername"
                                        placeholder="Enter full name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" name="phone"
                                        placeholder="Enter phone number">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" placeholder="Enter email ID">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label class="form-label">Upload images
                                    </label>
                                    <input class="" type="file" id="formFileMultiple" multiple />
                                </div>
                            </div>


                            <div class=" col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Event Category</label>
                                    <div class="">
                                        <select name="" id="" class="form-control" >
                                            <option value=""disabled selected>-- Select an option --</option>
                                            <option value="">All Services</option>
                                            <option value="">Catering</option>
                                            <option value="">Decoration</option>
                                            <option value="">Photography</option>
                                            <option value="">Planning</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                        <div class="row gutters">
                            <div class="col-lg-6 col-md-6  col-12">
                                <div class="form-group">
                                    <label>Minimun Pricing</label>
                                    <input type="text" class="form-control" name="" placeholder="Enter Price in INR">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6  col-12">
                                <div class="form-group">
                                    <label>Street</label>
                                    <input type="text" class="form-control" name="city" placeholder="Enter Street">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6  col-12">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control" name="city" placeholder="Enter City">
                                </div>
                            </div>
                            <div class=" col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control" name="state" placeholder="Enter State">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password"
                                        placeholder="Enter password">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Confirm password</label>
                                    <input type="password" class="form-control" name="confirm-password"
                                        placeholder="Enter password">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class=" col-lg-12 col-md-12 col-12">
                                <div class="text-center mt-3">
                                    <button type="submit" name="submit" class="btn btn-primary">Register Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class=" col-lg-12 col-md-12 col-12">
                                <div class="text-center mt-3">
                                    <p>Already registerd ! <a href="#" id="eve-login">login Now</a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
    <div class="col-lg-5 pl-0 pr-0 eve-cont bg-white eve-login mx-auto" style="display: none;">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card border-0">
                <div class="card-body bg-white">
                    <form action="" id="everegform">
                        <div class="row gutters">
                            <div class="col-lg-12 col-md-12 col-12">
                                <h6 class="mb-3 text-danger">Login Details</h6>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="form-group">
                                    <label>Email ID</label>
                                    <input type="email" class="form-control" name="eventname"
                                        placeholder="Enter email...">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="ownername"
                                        placeholder="Enter password...">
                                </div>
                            </div>


                        </div>

                        <div class="row gutters">
                            <div class=" col-lg-12 col-md-12 col-12">
                                <div class="text-center mt-4">
                                    <button type="submit" name="submit" class="btn btn-primary">Login</button>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class=" col-lg-12 col-md-12 col-12">
                                <div class="text-center mt-4">
                                    <p>Haven't Registered ? <a href="#" id="eve-register">Register Now</a></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>






<script>
    $('.eve-log').click(function () {
        $('.eve-register').hide()
        $('.eve-login').show()
    })

    $('.eve-regn').click(function () {
        $('.eve-login').hide()
        $('.eve-register').show()
    })

    $('#eve-login').click(function () {
        $('.eve-register').hide()
        $('.eve-login').show()
    })

    $('#eve-register').click(function () {
        $('.eve-login').hide()
        $('.eve-register').show()
    })

</script>




{% endblock %}