{% extends 'master1.html' %}
{% load static %}
{% block content %}
<section>
  <div class="row">
    <div class="home-img">
      <img src="{% static 'image/pic11.jpg' %}" class="img-fluid" alt="...">
      <h1>Find your best event partner..</h1>
      <div class="col-md-6 mb-4 max-width">
        <div class="input-group md-form form-sm form-2 pl-0">
          <input class="form-control my-0 py-1 amber-border" type="text"
            placeholder="Search for Event teams , Locations..." aria-label="Search">
          <div class="input-group-append">
            <span class="input-group-text amber" id="basic-text1"><i class="fa fa-search text-grey"
                aria-hidden="true"></i></span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <hr class="one">
  <div class="carousel mx-auto">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-10">
              <p>Wedding Planning</p>
            </div>
            <div class="col-lg-6 col-md-6 col-10">
              <img src="{% static 'image/caro1.jpg' %}" class="img-fluid" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-10">
              <p>Design & Decor</p>
            </div>
            <div class="col-lg-6 col-md-6 col-10">
              <img src="{% static 'image/caro2.jpg' %}" class="img-fluid" alt="...">
            </div>
          </div>

        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-10">
              <p>Food & Catering</p>
            </div>
            <div class="col-lg-6 col-md-6 col-10">
              <img src="{% static 'image/caro3.jpg' %}" class="img-fluid" alt="...">
            </div>
          </div>

        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-10">
              <p>Photography</p>
            </div>
            <div class="col-lg-6 col-md-6 col-10">
              <img src="{% static 'image/caro4.jpg' %}" class="img-fluid" alt="...">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <hr class="two">
  <h2>Event Teams</h2>
  <div class="cards">
    <div class="text-right mr-5 mt-3 pr-3 pt-3">
      <a class="seeall" href="userhome2">
        <h6>See all</h6>
      </a>
    </div>
    <div class="row pt-3 pb-5 pr-5 pl-5 mx-auto">
      <div class="col-lg-3 col-md-6 col-12 mx-auto">
        <a href="userhome3">
          <div class="card" style="width: 16rem;">
            <img src="{% static 'image/event1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body p-2">
              <h5>E4 Events </h5>
              <p class="card-text m-0" style="font-size: 14px;">Manjeri , Malappuram</p>
              <p class="card-text m-0"><small class="text-muted">
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-half text-warning"></i>
                  4.5 (18,560)</small>
              </p>
              <div class="book-btn text-center pt-3 mb-2">
                <button>Book now</button>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mx-auto">
        <div class="card" style="width: 16rem;">
          <img src="{% static 'image/event2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body p-2">
            <h5>E4 Events </h5>
            <p class="card-text m-0" style="font-size: 14px;">Manjeri , Malappuram</p>
            <p class="card-text m-0"><small class="text-muted">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star-half text-warning"></i>
                4.5 (18,560)</small>
            </p>
            <div class="book-btn text-center pt-3 mb-2">
              <a href="userhome3"><button>Book now</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mx-auto">
        <div class="card" style="width: 16rem;">
          <img src="{% static 'image/event3.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body p-2">
            <h5>E4 Events </h5>
            <p class="card-text m-0" style="font-size: 14px;">Manjeri , Malappuram</p>
            <p class="card-text m-0"><small class="text-muted">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star-half text-warning"></i>
                4.5 (18,560)</small>
            </p>
            <div class="book-btn text-center pt-3 mb-2">
              <a href="userhome3"><button>Book now</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mx-auto">
        <div class="card" style="width: 16rem;">
          <img src="{% static 'image/event4.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body p-2">
            <h5>E4 Events </h5>
            <p class="card-text m-0" style="font-size: 14px;">Manjeri , Malappuram</p>
            <p class="card-text m-0"><small class="text-muted">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star-half text-warning"></i>
                4.5 (18,560)</small>
            </p>
            <div class="book-btn text-center pt-3 mb-2">
              <a href="userhome3"><button>Book now</button></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>




{% endblock %}