{% extends 'master1.html' %}
{% load static %}
{% block content %}

<section>
    <div class="row">
        <div class="user_profile">
            <div class="container p-3">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="{% static 'image/userprofile.jpg' %}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-lg-7 pl-4">
                        <h2 class="pb-2">{{details.firstName}} {{details.lastName}}<i class="fas fa-edit " data-toggle="modal"
                                data-target="#userprofile" style="cursor: pointer;"></i></h2>
                        <p><i class="fas fa-envelope"></i>{{details.email}}</p>
                        <p><i class="fas fa-phone-alt"></i>{{details.mobile}}</p>
                        <p class="pl-1"><i class="fas fa-map-marker-alt"></i>{{details.place}}</p>
                    </div>
                    <div class="col-lg-3">

                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row w-100" style="height: 500px;">

    </div>
</section>

<div class="modal fade" id="userprofile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLabel">Edit Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="signform" action="/user/userprofile" method="POST">
                    {% csrf_token %}
                   <div class="row">
                    <div class="form-outline col-md-8 p-1">
                        <label for="">First Name</label>
                        <input type="text" name="firstname" class="form-control" value="{{details.firstName}}"/>
                    </div>
                    <div class="form-outline col-md-4 p-1">
                        <label for="">Last Name</label>
                        <input type="text" name="lastname" class="form-control" value=" {{details.lastName}}"/>
                    </div>
                   </div>

                    <div class="form-outline mb-3">
                        <label for="">Email</label>
                        <input type="email" name="useremail" class="form-control" value="{{details.email}}" />
                    </div>
                    <div class="form-outline mb-3">
                        <label for="">Mobile</label>
                        <input type="number" name="usermobile" class="form-control" value="{{details.mobile}}"/>
                    </div>
                    <div class="form-outline mb-3">
                        <label for="">Place</label>
                        <input type="text" name="userplace" class="form-control" value="{{details.place}}"/>
                    </div>

                    <div style="text-align: right;">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


{% endblock %}