{% extends 'master3.html' %}
{% load static %}
{% block content %}


<div class="container-fluid">
    <h4>Booking Details</h4><br>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Place</th>
                <th scope="col">Mobile</th>
                <th scope="col">Event Type</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Sreehari</td>
                <td>Malappuram</td>
                <td>8086643724</td>
                <td>Wedding</td>
                <td>15-1-2022</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Sreehari</td>
                <td>Malappuram</td>
                <td>8086643724</td>
                <td>Wedding</td>
                <td>15-1-2022</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Sreehari</td>
                <td>Malappuram</td>
                <td>8086643724</td>
                <td>Wedding</td>
                <td>15-1-2022</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Sreehari</td>
                <td>Malappuram</td>
                <td>8086643724</td>
                <td>Wedding</td>
                <td>15-1-2022</td>
            </tr>

        </tbody>
    </table>
</div>



{% endblock %}