{% extends 'master3.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row table1 p-3">
    <div class="col-lg-6 col-md-6 col-8 p-4">
      <div class="my-auto">
        <h3>Rating & Review</h3>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-4 my-auto p-0">
      <div class="text-right">

      </div>
    </div>
    <div class="w-100 text-center pt-4">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Rating</th>
            <th scope="col">Review</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">12/01/2022</td>
            <td>Sreehari</td>
            <td class="star">
              <div class="d-flex ">
                <div> <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-inactive mx-1"></span>
                </div>
              </div>
            </td>
            <td>Excellent</td>
            <td></td>
          </tr>
          <tr>
            <td scope="row">12/01/2022</td>
            <td>Sreehari</td>
            <td class="star">
              <div class="d-flex ">
                <div> <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-inactive mx-1"></span>
                </div>
              </div>
            </td>
            <td>Excellent</td>
            <td></td>
          </tr>
          <tr>
            <td scope="row">12/01/2022</td>
            <td>Sreehari</td>
            <td class="star">
              <div class="d-flex ">
                <div> <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-active mx-1"></span>
                  <span class="fa fa-star star-inactive mx-1"></span>
                </div>
              </div>
            </td>
            <td>Excellent</td>
            <td></td>
          </tr>



        </tbody>
      </table>
    </div>

  </div>
</div>

{% endblock %}